@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);
/* ================================ Basic CSS =============================== */
body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
    --mainColor: #242121;
    --mainColorLight: #5767aa;
    --secondaryColor: #2bdb57;
    --textColor: #eee
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

header img{
    width: 6rem;
    height: auto;
}

nav a{
    display: inline-flex; /* Use flex container */
    /* align-items: center;  */
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

nav a i{
    margin-right: 5px;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header 
}